*, *::before, *::after {
  -weblit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #444;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  color: #0c4c6b;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  color: #0c4c6b;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.comment {
  padding: 12px 0 0;
}

.author {
  font-style: italic;
  text-align: right;
  font-size: 12px;
  color: #777;
}

.comment:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #eee;
  width: 60%;
  margin-left: 20%;
  margin-top: 12px;
}

form {
  width: 280px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  margin: 12px 0;
}

input, textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  padding: 6px;
  margin-top: 2px;
  font: inherit;
  font-size: 14px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #5a8498;
}

textarea {
  height: 120px;
}

button {
  border: 1px solid #ccc;
  border-radius: 2px;
  font: inherit;
  color: #444;
  padding: 7px;
  width: 100px;
  background: linear-gradient(#fbfbfb, #f0f0f0);
  cursor: pointer;
}

button:hover {
  color: #666;
  background: linear-gradient(#fbfbfb, #fbfbfb);
}